<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{styles.plantilla}}">
    <link rel="stylesheet" href="{{styles.slider_panel}}">
    <link rel="stylesheet" href="{{styles.cards}}">
    <link rel="stylesheet" href="{{styles.custom}}">
    <script type="text/javascript" src="{{scripts.nav}}"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
